#menu{
  border: 1px solid black;
  padding: 20px;
  width: 550px;

}

.etiquetado{
font-weight: bolder;
width: 100px;
float: left;
}

.box_boton{
    text-align: center;

}

.boton{
    background-color: blue;
    color: rgb(178, 193, 194);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: bolder;
}

.boton:hover{
    cursor: pointer;
    background-color: darkcyan;
}

